{{! CUSTOMER MODAL FORM }}

<div
  class='modal fade'
  id='customerModal'
  tabindex='-1'
  aria-labelledby='customerModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='customerModalLabel'>
          {{#unless edit}}
            Add New Customer
          {{else}}
            Edit Customer
            {{form.custName}}
          {{/unless}}
        </h1>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <form action='' method='post' id='customerForm'>
          {{#if edit}}
            <input type='hidden' name='customerId' value='{{form._id}}' />
          {{/if}}
          <div class='input-group mb-3'>
            <div class='input-group-text'>
              <select
                class='form-select'
                name='isBusiness'
                id='isBusiness'
                aria-label=''
              >
                {{#unless edit}}
                  <option value='true' selected='selected'>Business</option>
                  <option value='false'>Individual</option>
                {{else}}
                  {{#if form.isBusiness}}
                    <option value='true' selected='selected'>Business</option>
                    <option value='false'>Individual</option>
                  {{else}}
                    <option value='true'>Business</option>
                    <option
                      value='false'
                      selected='selected'
                    >Individual</option>
                  {{/if}}
                {{/unless}}
              </select>
            </div>
            <input
              type='text'
              id='custName'
              name='custName'
              value='{{form.custName}}'
              class='form-control'
              aria-label=''
              required
            />
          </div>
          <div class='input-group input-group-sm mb-3 dba_field'>
            <span
              class='input-group-text'
              id='inputGroup-email'
              style='width:100px;'
            >DBA</span>
            <input
              type='text'
              name='dba'
              id='dba'
              value='{{form.dba}}'
              class='form-control'
              aria-label='input-form-dba'
              aria-describedby='inputGroup-dba'
            />
          </div>
          <div class='input-group input-group-sm mb-3'>
            <span
              class='input-group-text'
              id='inputGroup-email'
              style='width:100px;'
            >E-Mail</span>
            <input
              type='text'
              name='email'
              id='email'
              value='{{form.email}}'
              class='form-control'
              aria-label='input-form-email'
              aria-describedby='inputGroup-email'
              required
            />
          </div>
          <div class='input-group input-group-sm mb-3'>
            <span
              class='input-group-text'
              id='inputGroup-website'
              style='width:100px;'
            >Website</span>
            <input
              type='text'
              name='website'
              id='website'
              value='{{form.website}}'
              class='form-control'
              aria-label='input-form-website'
              aria-describedby='inputGroup-website'
            />
          </div>
          <div class='input-group input-group-sm mb-3'>
            <span
              class='input-group-text'
              id='inputGroup-phoneNumber'
              style='width:100px;'
            >Phone #</span>
            <input
              type='text'
              name='phoneNumber'
              id='phoneNumber'
              value='{{form.phoneNumber.0.number}}'
              class='form-control'
              aria-label='input-form-phoneNumber'
              aria-describedby='inputGroup-phoneNumber'
            />
          </div>
          <div class='input-group input-group-sm mb-3'>
            <span
              class='input-group-text'
              id='inputGroup-address1'
              style='width:100px;'
            >Address</span>
            <input
              type='text'
              name='address1'
              id='address1'
              value='{{form.address.address1}}'
              class='form-control'
              aria-label='input-form-address1'
              aria-describedby='inputGroup-address1'
            />
          </div>
          <div class='input-group input-group-sm mb-3'>
            <span
              class='input-group-text'
              id='inputGroup-city'
              style='width:100px;'
            >City</span>
            <input
              type='text'
              name='city'
              id='city'
              value='{{form.address.city}}'
              class='form-control'
              aria-label='input-form-city'
              aria-describedby='inputGroup-city'
            />
          </div>
          <div class='input-group input-group-sm mb-3'>
            <span
              class='input-group-text'
              id='inputGroup-state'
              style='width:100px;'
            >State</span>
            <input
              type='text'
              name='state'
              id='state'
              value='{{form.address.state}}'
              class='form-control'
              aria-label='input-form-state'
              aria-describedby='inputGroup-state'
            />
            <span
              class='input-group-text'
              id='inputGroup-zipcode'
              style='width:100px;'
            >Zip-Code</span>
            <input
              type='text'
              name='zipCode'
              id='zipCode'
              value='{{form.address.zipCode}}'
              class='form-control'
              aria-label='input-form-zipcode'
              aria-describedby='inputGroup-zipcode'
            />
          </div>
        </form>
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
        >Close</button>
        <button type='submit' form='customerForm' class='btn btn-dark'>
          {{#unless edit}}
            Add Customer
          {{else}}
            Save Customer
          {{/unless}}
        </button>
        {{#if error}}
          <i
            class='fa-solid fa-triangle-exclamation'
            style='margin-left:10px; font-size:2rem; color:red; cursor:pointer'
            onclick='showErrors();'
          ></i>
        {{/if}}
      </div>
    </div>
  </div>
</div>