<div class='main__container--right--body-customers'>
  <div class='main__container--right--customers-header'>
    <div>{{customer.custName}}</div>
    <div>
      <button
        type='button'
        class='btn btn-secondary'
        data-bs-toggle='modal'
        data-bs-target='#customerModal'
      >
        Edit Customer
      </button>
    </div>

  </div>
  <div class='main__container--right--body--customers-content'>
    <div class='accordion' id='customerDetailsAccordion'>
          <div class='accordion-item'>
            <h2 class='accordion-header' id='customerDetailsTab'>
              <button
                class='accordion-button'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#custDetails'
                aria-expanded='true'
                aria-controls='custDetails'
              >
                Customer's Details
              </button>
            </h2>
            <div
              id='custDetails'
              class='accordion-collapse collapse show'
              aria-labelledby='customerDetailsTab'
             >
              <div class='accordion-body'>
                <div class="customer__details-container row">
                    <div class="col">
                        <div class="row">
                            <div class='input-group input-group-md mb-3'>
                                <span
                                class='input-group-text'
                                style='width:150px; margin-right: 15px;'
                                >Type:</span>
                                <input
                                type='text'
                                value='{{customer.type}}'
                                class='form-control form-control-plaintext'
                                readonly
                                />
                            </div>
                            <div class='input-group input-group-md mb-3'>
                                <span
                                class='input-group-text'
                                style='width:150px; margin-right: 15px;'
                                >Name:</span>
                                <input
                                type='text'
                                value='{{customer.custName}}'
                                class='form-control form-control-plaintext'
                                readonly
                                />
                            </div>
                            <div class='input-group input-group-md mb-3'>
                                <span
                                class='input-group-text'
                                style='width:150px; margin-right: 15px;'
                                >DBA:</span>
                                <input
                                type='text'
                                value='{{customer.dba}}'
                                class='form-control form-control-plaintext'
                                readonly
                                />
                            </div>
                            <div class='input-group input-group-md mb-3'>
                                <span
                                class='input-group-text'
                                style='width:150px; margin-right: 15px;'
                                >E-Mail:</span>
                                <input
                                type='text'
                                value='{{customer.email}}'
                                class='form-control form-control-plaintext'
                                readonly
                                />
                            </div>
                            <div class='input-group input-group-md mb-3'>
                                <span
                                class='input-group-text'
                                style='width:150px; margin-right: 15px;'
                                >Website:</span>
                                <input
                                type='text'
                                value='{{customer.website}}'
                                class='form-control form-control-plaintext'
                                readonly
                                />
                            </div>
                            <div class="col">
                                <div class='input-group input-group-md mb-3'>
                                    <span
                                    class='input-group-text'
                                    style='width:150px; margin-right: 15px;'
                                    >Created At:</span>
                                    <input
                                    type='text'
                                    value='{{customer.createdAt}}'
                                    class='form-control form-control-plaintext'
                                    readonly
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class='input-group input-group-md mb-3'>
                            <span
                            class='input-group-text'
                            style='width:150px; margin-right: 15px;'
                            >Phone Number:</span>
                            <input
                            type='text'
                            value='{{customer.phoneNumber.0.number}}'
                            class='form-control form-control-plaintext'
                            readonly
                            />
                        </div>
                        <div class='input-group input-group-md mb-3'>
                            <span
                            class='input-group-text'
                            style='width:150px; margin-right: 15px;'
                            >Address:</span>
                            <input
                            type='text'
                            value='{{customer.address.address1}}'
                            class='form-control form-control-plaintext'
                            readonly
                            />
                        </div>
                        <div class='input-group input-group-md mb-3'>
                            <span
                            class='input-group-text'
                            style='width:150px; margin-right: 15px;'
                            >City:</span>
                            <input
                            type='text'
                            value='{{customer.address.city}}'
                            class='form-control form-control-plaintext'
                            readonly
                            />
                        </div>
                        <div class='input-group input-group-md mb-3'>
                            <span
                            class='input-group-text'
                            style='width:150px; margin-right: 15px;'
                            >State:</span>
                            <input
                            type='text'
                            value='{{customer.address.state}}'
                            class='form-control form-control-plaintext'
                            readonly
                            />
                        </div>
                        <div class='input-group input-group-md mb-3'>
                            <span
                            class='input-group-text'
                            style='width:150px; margin-right: 15px;'
                            >Zip Code:</span>
                            <input
                            type='text'
                            value='{{customer.address.zipCode}}'
                            class='form-control form-control-plaintext'
                            readonly
                            />
                        </div>
                        <div class='input-group input-group-md mb-3'>
                            <span
                            class='input-group-text'
                            style='width:150px; margin-right: 15px;'
                            >Updated At:</span>
                            <input
                            type='text'
                            value='{{customer.updatedAt}}'
                            class='form-control form-control-plaintext'
                            readonly
                            />
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class='accordion-item'>
            <h2 class='accordion-header' id='customerNotesTab'>
              <button
                class='accordion-button collapsed'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#custNotes'
                aria-expanded='false'
                aria-controls='custNotes'
              >
               Notes
              </button>
            </h2>
            <div
              id='custNotes'
              class='accordion-collapse collapse'
              aria-labelledby='customerNotesTab'
              data-bs-parent='#customerNotesAccordion'
            >
              <div class='accordion-body'>
                {{! NOTES }}
                <div>

                </div>
              </div>
            </div>
          </div>
          <div class='accordion-item'>
            <h2 class='accordion-header' id='customerDevicesTab'>
              <button
                class='accordion-button collapsed'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#custDevices'
                aria-expanded='false'
                aria-controls='custDevices'
              >
               Devices
              </button>
            </h2>
            <div
              id='custDevices'
              class='accordion-collapse collapse'
              aria-labelledby='customerDevicesTab'
              data-bs-parent='#customerDevicesAccordion'
            >
              <div class='accordion-body'>
                {{! DEVICES }}
                <div>

                </div>
              </div>
            </div>
          </div>
          <div class='accordion-item'>
            <h2 class='accordion-header' id='customerDocumentsTab'>
              <button
                class='accordion-button collapsed'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#custDocuments'
                aria-expanded='false'
                aria-controls='custDocuments'
              >
               Documents
              </button>
            </h2>
            <div
              id='custDocuments'
              class='accordion-collapse collapse'
              aria-labelledby='customerDocumentsTab'
              data-bs-parent='#customerDetailsAccordion'
            >
              <div class='accordion-body'>
                {{! DOCUMENTS }}
                <div>

                </div>
              </div>
            </div>
          </div>
          <div class='accordion-item'>
            <h2 class='accordion-header' id='customerWorkOrderTab'>
              <button
                class='accordion-button collapsed'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#custWorkOrder'
                aria-expanded='false'
                aria-controls='custWorkOrder'
              >
               Work Sheets
              </button>
            </h2>
            <div
              id='custWorkOrder'
              class='accordion-collapse collapse'
              aria-labelledby='customerWorkOrderTab'
              data-bs-parent='#customerDetailsAccordion'
            >
              <div class='accordion-body'>
                {{! WORK SHEETS }}
                <div>

                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>

{{> customerForm}}
{{> customerDelete}}

{{#if error}}
  <div class='toast-container position-fixed bottom-0 end-0 p-3'>

    {{#each errorMsg}}
      <div
        id='liveToast'
        class='toast text-bg-danger border-0'
        role='alert'
        aria-live='assertive'
        aria-atomic='true'
      >
        <div class='toast-header'>
          <strong class='me-auto'>Error</strong>
          <button
            type='button'
            class='btn-close'
            data-bs-dismiss='toast'
            aria-label='Close'
          ></button>
        </div>
        <div class='toast-body'>
          {{this}}
        </div>
      </div>
    {{/each}}

  </div>
  {{! prettier-ignore }}
  <script type='text/javascript'>
    document.addEventListener('DOMContentLoaded', () => { 
      {{#unless pwd}}
      
      const userModal = document.querySelector('#usersModal'); 
      const modal = new bootstrap.Modal(userModal); 
      modal.show();
      
      {{else}}

      const userPwd = document.querySelector('#usersPwdModal'); 
      const modal = new bootstrap.Modal(userPwd); 
      modal.show();

      {{/unless}}

    });
  </script>
{{/if}}

{{#if edit}}
  {{! prettier-ignore }}
  <script type='text/javascript'>
    document.addEventListener('DOMContentLoaded', () => { 
        const customerModal = document.querySelector('#customerModal'); 
        const modal = new bootstrap.Modal(customerModal); 
        modal.show();
        
        customerModal.addEventListener('hidden.bs.modal',(e) => { 
            console.log('Modal Hidden!!!!!!!') 
            window.location.href = '../../../customers' }) 
        });
  </script>
{{/if}}

{{> customerDetails}}