<div class="main__container--right--body-users">
  <div class="main__container--right--users-header">
    <div>Users</div>
    <div>
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-toggle="modal"
        data-bs-target="#usersModal"
        data-bs-whatever="@getbootstrap"
      >
        Add New User
      </button>
    </div>
  </div>
  <div class="main__container--right--body--users-content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Role</th>
          <th scope="col">Email</th>
          <th scope="col">Last Login</th>
          <th scope="col" style="width: 80px"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>{{superAdmin.fname}} {{superAdmin.lname}}</td>
          <td>Super Admin</td>
          <td>{{superAdmin.email}}</td>
          <td>{{superAdmin.last_session}}</td>
          <td>&nbsp;</td>
        </tr>
        {{#each users}}
        <tr>
          <td>{{math @index '+' 2}}</td>
          <td
            style="cursor: pointer; text-decoration: underline"
            onclick="window.location.href='/users/details/{{this._id}}'"
          >
            {{this.fname}} {{this.lname}}
          </td>
          <td>{{this.role}}</td>
          <td>{{this.email}}</td>
          <td>{{this.last_session}}</td>
          <td>
            <a href="/users/edit/{{this._id}}" style="color: unset"
              ><i class="fa-regular fa-pen-to-square"></i
            ></a>
            <i
              class="fa-solid fa-trash"
              style="cursor: pointer"
              onclick="deleteUser('{{this._id}},{{this.fname}} {{this.lname}}');"
            ></i>
            <i
              class="fa-solid fa-key"
              style="cursor: pointer"
              onclick="resetUserPwd('{{this._id}},{{this.fname}} {{this.lname}}')"
            ></i>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{> usersForm}} {{> usersPwd}} {{> userDelete}} {{#if error}}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  {{#each errorMsg}}
  <div
    id="liveToast"
    class="toast text-bg-danger border-0"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header">
      <strong class="me-auto">Error</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">{{this}}</div>
  </div>
  {{/each}}
</div>
{{/if}} {{! prettier-ignore }}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    {{#if pwd}}

    const userPwd = document.querySelector('#usersPwdModal');
    const modalPwd = new bootstrap.Modal(userPwd);
    modalPwd.show();

    {{/if}}

    {{#ifCond edit '||' error}}
    {{#unless pwd}}
    const userModal = document.querySelector("#usersModal");
    const modalUsr = new bootstrap.Modal(userModal);
    modalUsr.show();

    userModal.addEventListener("hidden.bs.modal", (e) => {
      window.location.href = "/users";
    });
    {{/unless}}
    {{/ifCond}}

    {{#if details}}
    const userDetailsModal = document.querySelector("#userDetailsModal");
    const modalDetails = new bootstrap.Modal(userDetailsModal);
    modalDetails.show();

    userDetailsModal.addEventListener("hidden.bs.modal", (e) => {
      window.location.href = "/users";
    });
    {{/if}}

  });
</script>
{{> userDetails}}
