{{! USER MODAL FORM }}

<div
  class="modal fade"
  id="userDetailsModal"
  tabindex="-1"
  aria-labelledby="usersDetailslLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="usersDetailslLabel">
          {{user.fname}} {{user.lname}}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Users Details
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <form action="" method="post" id="usersDetailsForm">
                  <div class="input-group input-group-sm mb-3">
                    <span
                      class="input-group-text"
                      id="inputGroup-userIdText"
                      style="width: 100px"
                      >User ID:</span
                    >
                    <input
                      type="text"
                      name="userIdText"
                      id="userIdText"
                      value="{{user._id}}"
                      class="form-control form-control-plaintext"
                      aria-label="input-user-userIdText"
                      aria-describedby="inputGroup-userIdText"
                      readonly
                    />
                  </div>

                  <div class="input-group input-group-sm mb-3">
                    <span
                      class="input-group-text"
                      id="inputGroup-userfname"
                      style="width: 100px"
                      >First Name</span
                    >
                    <input
                      type="text"
                      name="userfname"
                      id="userfname"
                      value="{{user.fname}}"
                      class="form-control form-control-plaintext"
                      aria-label="input-user-first-name"
                      aria-describedby="inputGroup-userfname"
                      readonly
                    />
                  </div>

                  <div class="input-group input-group-sm mb-3">
                    <span
                      class="input-group-text"
                      id="inputGroup-userlname"
                      style="width: 100px"
                      >Last Name</span
                    >
                    <input
                      type="text"
                      name="userlname"
                      id="userlname"
                      value="{{user.lname}}"
                      class="form-control form-control-plaintext"
                      aria-label="input-user-last-name"
                      aria-describedby="inputGroup-userlname"
                      readonly
                    />
                  </div>

                  <div class="input-group input-group-sm mb-3">
                    <span
                      class="input-group-text"
                      id="inputGroup-useremail"
                      style="width: 100px"
                      >E-Mail</span
                    >
                    <input
                      type="email"
                      name="useremail"
                      id="useremail"
                      value="{{user.email}}"
                      class="form-control form-control-plaintext"
                      aria-label="input-useremail"
                      aria-describedby="inputGroup-useremail"
                      readonly
                    />
                  </div>

                  <div class="input-group input-group-sm mb-3">
                    <label
                      class="input-group-text"
                      for="inputGroup-userRole"
                      style="width: 100px"
                      >Role</label
                    >
                    <input
                      type="text"
                      name="userRole"
                      id="userRole"
                      value="{{user.role}}"
                      class="form-control form-control-plaintext"
                      aria-label="input-userRole"
                      aria-describedby="inputGroup-userRole"
                      readonly
                    />
                  </div>
                  <div class="input-group input-group-sm mb-3">
                    <label
                      class="input-group-text"
                      for="inputGroup-userUpdated"
                      style="width: 100px"
                      >Updated</label
                    >
                    <input
                      type="text"
                      name="userUpdated"
                      id="userUpdated"
                      value="{{user.updatedAt}}"
                      class="form-control form-control-plaintext"
                      aria-label="input-userUpdated"
                      aria-describedby="inputGroup-userUpdated"
                      readonly
                    />
                  </div>
                  <div class="input-group input-group-sm mb-3">
                    <label
                      class="input-group-text"
                      for="inputGroup-userCreated"
                      style="width: 100px"
                      >Created</label
                    >
                    <input
                      type="text"
                      name="userCreated"
                      id="userCreated"
                      value="{{user.createdAt}}"
                      class="form-control form-control-plaintext"
                      aria-label="input-userCreated"
                      aria-describedby="inputGroup-userCreated"
                      readonly
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Sessions History
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                {{! SESSIONS TABLE }}
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-dark">Edit</button>
        <button type="button" class="btn btn-dark">Reset Password</button>
        <button type="button" class="btn btn-dark">Delete</button>
      </div>
    </div>
  </div>
</div>
