<div class="main__container--right--body-customers">
  <div class="main__container--right--customers-header">
    <div>Customers</div>
    <div>
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-toggle="modal"
        data-bs-target="#customerModal"
      >
        Add New Customer
      </button>
    </div>
  </div>
  <div class="main__container--right--body--customers-content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Type</th>
          <th scope="col">Phone Number</th>
          <th scope="col" style="width: 80px"></th>
        </tr>
      </thead>
      <tbody>
        {{#each customers}}
        <tr>
          <td>{{math @index '+' 1}}</td>
          <td
            style="cursor: pointer; text-decoration: underline"
            onclick="window.location.href='/customers/details/{{this._id}}'"
          >
            {{this.custName}}
          </td>
          <td>{{this.email}}</td>
          <td>{{this.type}}</td>
          <td>{{this.phoneNumber.0.number}}</td>
          <td>
            <a href="/customers/edit/{{this._id}}" style="color: unset"
              ><i class="fa-regular fa-pen-to-square"></i
            ></a>
            <i
              class="fa-solid fa-trash"
              style="cursor: pointer"
              onclick="deleteCustomer('{{this._id}},{{this.custName}}');"
            ></i>
            {{#if this.isFavorite}}
            <a href="/customers/favorite/{{this._id}}/false" style="color: red">
              <i class="fa-solid fa-heart"></i>
            </a>
            {{else}}
            <a href="/customers/favorite/{{this._id}}/true" style="color: #000">
              <i class="fa-regular fa-heart"></i>
            </a>
            {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{> customerForm}} {{> customerDelete}} {{#if error}}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  {{#each errorMsg}}
  <div
    id="liveToast"
    class="toast text-bg-danger border-0"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header">
      <strong class="me-auto">Error</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">{{this}}</div>
  </div>
  {{/each}}
</div>
{{! prettier-ignore }}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    {{#unless pwd}}

    const userModal = document.querySelector('#usersModal');
    const modal = new bootstrap.Modal(userModal);
    modal.show();

    {{else}}

    const userPwd = document.querySelector('#usersPwdModal');
    const modal = new bootstrap.Modal(userPwd);
    modal.show();

    {{/unless}}

  });
</script>
{{/if}} {{#if edit}} {{! prettier-ignore }}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    const customerModal = document.querySelector('#customerModal');
    const modal = new bootstrap.Modal(customerModal);
    modal.show();

    customerModal.addEventListener('hidden.bs.modal', (e) => {
      console.log('Modal Hidden!!!!!!!');
      window.location.href = '/customers';
    });
  });
</script>
{{/if}} {{#if details}} {{! prettier-ignore }}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    const userDetailsModal = document.querySelector('#userDetailsModal');
    const modal = new bootstrap.Modal(userDetailsModal);
    modal.show();

    userDetailsModal.addEventListener('hidden.bs.modal', (e) => {
      window.location.href = '/customers';
    });
  });
</script>
{{/if}}
